// Alerts
// -----------------------------------------------------------
.alert {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    margin-bottom: 20px;
    line-height: 22px;
    font-weight: 400;

    .close {
        opacity: 1;
        font-size: 1rem;
        top: 2px;
        right: -14px;
        text-shadow: none
    }

    .close:hover,
    .close:focus {
        color: inherit
    }
}

/*.alert-success {
  @include alert-variant(lighten($alert-success-bg, 42%), lighten($alert-success-border, 15%), $alert-success-text)
}

.alert-info {
  @include alert-variant(lighten($alert-info-bg, 42%), lighten($alert-info-border, 15%), $alert-info-text)
}

.alert-warning {
  @include alert-variant(lighten($alert-warning-bg, 30%), lighten($alert-warning-border, 15%), $alert-warning-text)
}

.alert-danger {
  @include alert-variant(lighten($alert-danger-bg, 42%), lighten($alert-danger-border, 15%), $alert-danger-text)
}*/

@include media-breakpoint-down(sm) {
    .alert {
        padding-top: 10px;
        padding-bottom: 10px;

        .close {
            font-size: .75rem;
            top: 3px;
            right: -18px
        }
    }
}

//labels
//.label-primary {
//    @extend .bg-primary !optional;
//}
//
//.label-secondary {
//    @extend .bg-secondaary;
//}
//
//.label-success {
//    background-color: $success;
//}
//
//.label-warning {
//    background-color: $warning;
//}
//
//.label-info {
//    background-color: $info;
//}
//
//.label-danger {
//    background-color: $danger;
//}

// blockquote --------------------------------
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 2px solid #eeeeee
}


// pagination ---------------------------------------------------

.pagination-wrap {
    margin-top: 50px;
    line-height: 0;

    .pagination {
        width: 100%;
        text-align: center;
        //font-size: 0;
        margin-top: 0;
        margin-bottom: 0;
        //line-height: normal;
        li {
            margin-right: 5px !important;
            display: inline-block;

            &:last-child {
                a {
                    border-radius: 0;
                }
            }

            &:first-child {
                a {
                    border-radius: 0;
                }
            }
        }

        li.active,
        li:hover,
        li:focus {
            a {
                @extend .bg-primary !optional;
                @extend .text-white
            }
        }

        a {
            width: 40px;
            height: 40px;
            border: none;
            color: $primary;
            border-radius: 1px;
            //&:hover{
            //color: $primary;
            //}
        }
    }
}



// Start text variant
//@include text-emphasis-variant('.text-primary', $primary);
//
//@include text-emphasis-variant('.text-secondary', $secondary);
//
//@include text-emphasis-variant('.text-success', $success);
//
//@include text-emphasis-variant('.text-info', $info);
//
//@include text-emphasis-variant('.text-warning', $warning);
//
//@include text-emphasis-variant('.text-danger', $danger);
//
//@include text-emphasis-variant('.text-gray-lighter', $gray-lighter);


.popover {
    //border-color: lighten($border-color,10%);
    border-color: lighten($border-color, 5%);
    box-shadow: none;
    border-radius: 4px
}

.popover.bottom > .arrow {
    border-bottom-color: lighten($border-color, 5%)
}

// table style --------------------------
table, .table {
    margin-bottom: 30px
}
.table > thead > tr > th {
    font-size: 13px;
    font-weight: 500;
    border-bottom-color: $border-color !important
}

//.table-default > thead > tr > th {
//    @extend .bg-gray;
//    @extend .text-white;
//}
//
//.table-primary > thead > tr > th {
//    @extend .bg-primary !optional;
//    @extend .text-white;
//}
//
//.table-bordered,
//.table-bordered > tbody > tr > td {
//    border-color: lighten($border-color, 5%);
//}
//
//.table > thead > tr > th,
//.table > thead > tr > td,
//.table > tbody > tr > th,
//.table > tbody > tr > td,
//.table > tfoot > tr > th,
//.table > tfoot > tr > td {
//    padding: 15px;
//    border-top: inherit;
//    border-bottom: 1px solid lighten($border-color, 5%);
//}

// ------------------------------------------------------------------------ //
.aq-table-layout {
    display: table;
    @extend .w-100;

    .table-row {
        //display: table-row;
        &:last-child {
            .table-col {
                border-bottom: 1px dotted $border-color
            }
        }
    }

    .table-col {
        display: table-cell;
        vertical-align: middle;
        padding: 20px 40px;
        border-top: 1px dotted $border-color;
        @include respond-to(1385) {
            padding: 20px
        }

        &:last-child {
            text-align: right
        }
    }
}

// taber layout
// ------------------------------------------------------------------------ //
.aq-taber {
    //&.v2 {
    //  .tab {
    //    border: none;
    //    line-height: 60px;
    //    height: 60px;
    //    padding: 0 20px;
    //  }
    //}
    //&.layout-fixed {
    //  .aq-tab-list {
    //    @extend .d-flex;
    //  }
    //  .tab {
    //    text-align: center;
    //    &:last-child {
    //      border: 0;
    //    }
    //  }
    //}
}

.aq-tab-list {
    //@extend .w-100;
    //border-bottom: 1px solid lighten($border-color, 10%);
    @extend .list-unstyled;
    @extend .m-0;
    @extend .d-flex;
    @extend .text-center;
    .tab {
        @extend %animation-3s;
        //@extend .text-heading;
        @extend .fw-500;
        //font-size: .75rem;
        //@extend .d-inline-block;
        @extend .bg-white;
        padding: 0.867rem 1.2rem;
        border: 1px solid transparent;
        cursor: pointer;
        &:hover,
        &:focus,
        &:active,
        &.active {
            @extend .text-primary;
            //@extend .border-primary
        }
    }
    &.bordered {
        .tab {
            border-color: $border-color;
            &:hover,
            &:focus {
                @extend .text-primary
            }

            &:active,
            &.active {
                @extend .text-primary;
                @extend .border-primary
            }
        }
    }
    &.filled {
        .tab {
            &:hover,
            &:focus {
                @extend .text-primary
            }

            &:active,
            &.active {
                @extend .text-white;
                @extend .bg-primary !optional
            }
        }
    }
    &.layout-fixed {
        @include border-top-radius($border-radius);
        @extend .shadow-element;
        //@extend .overflow-hidden;
        .tab {
            @extend .flex-grow-1;
            &:first-child {
                @include border-top-start-radius($border-radius-inner)
            }
            &:last-child {
                @include border-top-end-radius($border-radius-inner)
            }
            //border-color: transparent;
            //border-right-color: $gray-100;
            &:not(:last-child){
                margin-right: -1px;
                //border-right: 1px solid;
                //@extend .border-gray-100
            }
            &:hover,
            &:focus,
            &:active,
            &.active {
                z-index: 1;
                //border-color: transparent !important
            }
        }
    }

    &:not(.layout-fixed) {
        .tab {
            @include border-radius($border-radius);
            @extend .shadow-element;
            &:not(:last-child){
                margin-right: 1.4rem
            }
        }
    }
}

.taber-content {
    .tab-pane {
        //@extend .bg-white;
        padding: 35px 30px;
        //min-height: 400px ;
        position: relative
    }
}

@include media-breakpoint-between(md, lg) {
    //.aq-tab-list .tab {
    //    height: 60px;
    //    line-height: 60px;
    //}
}

@include media-breakpoint-down(md) {
    .taber-content {
        .tab-pane {
            padding: 35px
        }
    }
    .aq-tab-list .tab {
        //height: 50px;
        //line-height: 50px;
        //font-weight: 400;
        padding: 0.6rem 1rem;
        font-size: 0.76rem
    }
}

@include media-breakpoint-down(sm) {
    //.aq-tab-list .tab {
        //display: block !important;
        //width: 100%;
        //border-top: 1px solid lighten($border-color, 10%) !important;
    //}
}


// START HOMES LOADER
.aq-loader-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($layer-dark, .5);
    //background-color: rgba($white,.1);
    //min-height: 200px;
    z-index: 4
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%)
}

.loading-bar {
    @extend .bg-primary !optional;
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite
}

.loading-bar:nth-child(1) {
    animation-delay: 0s
}

.loading-bar:nth-child(2) {
    animation-delay: 0.09s
}

.loading-bar:nth-child(3) {
    animation-delay: .18s
}

.loading-bar:nth-child(4) {
    animation-delay: .27s
}

// SHARE TOOLTIP
.aq-share-tooltip {
    @extend %animation-ease-in-out-3s;
    position: absolute;
    right: 20px;
    top: 50%;
    @include translate(0, -50%);
    white-space: nowrap;
    display: block;
    visibility: hidden;
    opacity: 0;
    border-radius: 3px;
    font-size: 0;
    z-index: 2;
    @extend .bg-white;
    padding: 5px;
    box-shadow: 0 0 5px rgba($black, .1);

    a {
        @extend %animation-ease-in-out-3s;
        display: inline-block;
        @extend .text-default;
        //background-color: $black;
        //opacity: 0.6;
        font-size: .75rem;
        line-height: 30px;
        width: 30px;
        height: 30px;
        text-align: center;
        margin-right: -5px;
        @include media-breakpoint-down(md) {
            width: 20px;
            height: 20px;
            line-height: 20px;
            padding: 0;
            font-size: 12px
        }
    }

    &:after {
        border: solid transparent;
        content: ' ';
        height: 0;
        position: absolute;
        z-index: 2;
        width: 0;
        border-width: 7px;
        right: -14px;
        bottom: 8px;
        border-left-color: $white
    }

    &.open {
        visibility: visible;
        opacity: 1;

        a {
            margin-right: 1px
        }
    }
}

.tooltip-bottom {
    margin-top: 10px;
    //width: 30px;
    white-space: normal;
    top: 100%;
    right: auto;
    left: 50%;
    @include translate(-50%, 0);

    a {
        margin: -5px 0 0
    }

    &.open {
        a {
            margin-top: 1px
        }
    }

    &:after {
        border-left-color: transparent;
        border-bottom-color: $white;
        top: -14px;
        bottom: auto;
        right: 13px
    }
}

// START BREADCRUMBS
.breadcrumb {
    margin: 0;
    //background: none;
    //padding: 17px 0;
    @extend .d-flex;

    li,
    a,
    li:after {
        @extend .text-gray-500
    }

    li {
        &:after {
            //display: inline-block;
            //vertical-align: middle;
            content: "/";
            padding: 0 10px;
            font-size: .75rem
        }

        &:last-child {
            &:after {
                content: "";
                padding: 0
            }
        }

        & + li {
            &:before {
                content: "";
                padding: 0
            }
        }

        &.active {
            @extend .text-primary
        }
    }

    //a {
    //  color: $gray;
    //}
}

// START RATINGS STYLE

// Rating style
.aq-rating {
    line-height: 1;
    color: $gray-600;
    @extend .d-flex;

    .rating-counter {
        @extend .align-self-center;
        //& + .star-rating {
        //margin-left: 15px;
        //}
    }

    .star-rating {
        @extend .align-self-center;
        @extend .d-flex
    }

    .stars-outer {
        @extend .d-inline-block;
        //@extend .va-middle;
        @extend .text-gray-500
    }

    .badge {
        padding: 0.45em 0.65em;
        //font-size: 0.775em;
        //font-weight: 600
    }

    .star {
        //line-height: 1;
        font-size: 0.88rem;

        &.active {
            color: #ffc600
        }
    }

    .reviews-counter {
        //font-size: 0.8rem;
        //@extend .va-middle;
        //@extend .fw-400;
        //@extend .text-gray-600;
        @extend .align-self-center
    }

    &.rating-lg {
        .badge {
            font-size: 0.975em
        }
        .star {
            font-size: 1.2rem
        }
        //.reviews-counter {
        //    font-size: 0.9rem
        //}
    }

    &.rating-md {
        .badge {
            font-size: 0.875em
        }
        .star {
            font-size: 0.98rem
        }
        //.reviews-counter {
        //    font-size: 0.8rem;
        //}
    }
    &.rating-sm {
        .badge {
            font-size: 0.775em
        }
        .star {
            font-size: 0.98rem
        }
        //.reviews-counter {
        //    font-size: 0.8rem;
        //}
    }
}
