.footer-section {
    @extend .w-100;
    position: relative
}

.pre-footer {
    background-color: $footer;
    padding: 80px 0;

    p {
        color: $white;
        //margin: 0
    }
}

#footer {
    background-color: $footer
}

#footer p {
    color: $white
}

.footer-copyright {

    background-color: $footer-copyright;
    padding: 30px 0;
    //.footer-col{
    //  float: left;
    //  width: 50%;
    //}
    .footer-social {
        a {
            color: $white;
            display: inline-block;
            margin-left: 10px
        }
    }
}

@include media-breakpoint-down(lg) {
    .pre-footer {
        padding: 50px 0;

        div[class*='col-'] + div[class*='col-'] {
            margin-top: 30px
        }

        .widget-top {
            margin: 0 0 15px
        }
    }
}

@include media-breakpoint-down(sm) {
    .footer-copyright {
        //padding: 22px 0;
        //.footer-col {
        //    width: 100%;
        //    text-align: center;
        //
        //    &:first-child {
        //        margin-bottom: 15px;
        //    }
        //}
    }
}

