@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
//@import "../node_modules/bootstrap/scss/helpers/color-bg";

body {
    //font-size: 0.955rem;
    font-size: $font-size-body;
    //line-height: $line-height-body;
    //line-height: 1.5rem;
    background-color: $body-bg;
    font-weight: var(--#{$prefix}body-font-weight);
    //color: $body-color;
    color: var(--#{$prefix}body-color);
    text-align: left;
    font-family: var(--#{$prefix}body-font-family);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include media-breakpoint-down(md) {
        //font-size: .75rem;
        //line-height: 20px;
    }
}

$utilities: (
    "cursor": (
        property: cursor,
        class: cursor,
        responsive: true,
        values: auto pointer grab,
    ),
    "visibility": (
        property: visibility,
        class: visibility,
        values: visible hidden
    ),
    "display": (
        property: display,
        class: display,
        values: block none inline inline-block flex
    ),
    "verticle-align": (
        property: vertical-align,
        class: va,
        values: middle top bottom text-top text-bottom
    ),
    "opacity": (
        property: display,
        class: opacity,
        values: 0 1
    ),
    "width": (
        property: width,
        class: w,
        values: (
            10: 10%,
            15: 15%,
            20: 20%,
            25: 25%,
            30: 30%,
            35: 35%,
            40: 40%,
            45: 45%,
            50: 50%,
            55: 55%,
            60: 60%,
            65: 65%,
            70: 70%,
            75: 75%,
            80: 80%,
            85: 85%,
            90: 90%,
            100: 100%,
            auto: auto
        )
    ),
);

@import "../node_modules/bootstrap/scss/utilities/api";



img {
    max-width: 100%;
    height: auto
}

.img-rounded {
    border-radius: 3px
}

.label {
    padding: 3px 4px 2px
}

a {
    @extend %animation-3s;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none
    }
}

hr {
    background-color: $gray-400;
    margin-top: 30px;
    margin-bottom: 30px
}

strong {
    //@extend .text-heading
}

cite {
    color: #b9b9b9
}

//.cursor-pointer {
//    cursor: pointer;
//}


//no list style
.list-style-none {
    list-style: none
}

//.pull-left {
//    float: left;
//}
//
//.pull-right {
//    float: right;
//}


//
//.display-flex {
//    display: flex;
//}
//
//.flex-1 {
//    flex: 1;
//}

// @extend width 100%;
//.full-width {
//    width: 100%;
//}
//
//.full-height {
//    height: 100%;
//}


// @extend .list-unstyled;
//.list-none {
//    list-style: none;
//}

// border
//.border-0 {
//    border: none !important;
//}
// shadow map
$theme-shadows: (
    "2x":       0 1px 2px -1px rgba(0, 0, 0, 0.2),
    "3x":       0 1px 3px -1px rgba(0, 0, 0, 0.2),
    "4x":       0 1px 4px -1px rgba(0, 0, 0, 0.2),
    "5x":       0 1px 5px -1px rgba(0, 0, 0, 0.2),
    "6x":       0 1px 6px -1px rgba(0, 0, 0, 0.2),
    "7x":       0 1px 7px -1px rgba(0, 0, 0, 0.2),
    "8x":       0 1px 8px -1px rgba(0, 0, 0, 0.2),
    "9x":       0 1px 9px -1px rgba(0, 0, 0, 0.2),
    "10x":      0 1px 10px -1px rgba(0, 0, 0, 0.2),
    "card":     $card-bx-shadow,
    "element":  $element-bx-shadow,
    "none":  none,
);
// generate shadow classes
@each $shadow, $value in $theme-shadows {
    .shadow-#{$shadow} {
        box-shadow: $value
    }
};

.white-space-normal {
    white-space: normal
}

.white-space-nowrap {
    white-space: nowrap
}

//.self-center {
//    align-self: center;
//}

// overflow
//.overflow-hidden {
//    overflow: hidden
//}
//
//.overflow-visible {
//    overflow: visible
//}

// opacity and visibility

//.opacity-0 {
//    opacity: 0;
//}
//
//.opacity-1 {
//    opacity: 1 !important;
//}

//.visibility-hidden {
//    visibility: hidden;
//}
//
//.visibility-visible {
//    visibility: visible;
//}

// positions
//.position-relative {
//    position: relative;
//}
//
//.position-absolute {
//    position: absolute;
//}

.position-fixed {
    position: fixed
}

.position-right {
    right: 0
}

.position-left {
    left: 0
}

.position-top {
    top: 0
}

.position-bottom {
    bottom: 0
}

// Font weights
$theme-font-weights: (
    "200":    200,
    "300":    300,
    "400":    400,
    "500":    500,
    "600":    600,
    "700":    700,
    "800":    800,
    "inherit":    inherit,
);
// generate font weight classes
@each $fw, $value in $theme-font-weights {
    .fw-#{$fw} {
        font-weight: $value
    }
};

// Border Radius
$theme-border-darius: (
    "0":    0 !important,
    "2":    .2rem,
    "3":    .3rem,
    "4":    .4rem,
    "5":    .5rem,
    "6":    .6rem,
    "7":    .7rem,
    "8":    .8rem,
    "circle":    50%,
);
@each $radius, $value in $theme-border-darius {
    .br-#{$radius} {
        border-radius: $value
    }
};

// Gutter widths
$theme-gutter-widths: (
    "4":     0.125rem,
    "6":     0.188rem,
    "8":     0.25rem,
    "10":    0.313rem,
    "20":    0.625rem,
);
@each $gutter, $value in $theme-gutter-widths {
    .row-#{$gutter} {
        margin-left: -$value;
        margin-right: -$value;

        [class^="col-"] {
            padding-left: $value;
            padding-right: $value
        }

        .tile-block {
            margin-bottom: $value * 2
        }
    }
}

// Background styles
.bg-cover {
    background-position: center;
    background-size: cover, 100%;
    background-repeat: no-repeat
}

.object-fit-cover {
    object-fit: cover
}

// slider load
.slider-load-animated {
    opacity: 0
}

// Add layers on images
.media-layered {
    @extend .position-relative;

    &:before {
        content: '';
        @extend .position-absolute;
        left: 0;
        right: 0;
        top: 0;
        @extend .w-100;
        @extend .h-100;
        background-color: rgba($black, .3);
        z-index: 3
    }
}

//Hover effects for cards
.img-layer {
    @extend %animation-ease-in-out-3s;
    @extend .d-block;
    @extend .overflow-hidden;
    @extend .w-100;
    @extend .h-100;
    @extend .position-relative;

    &:before {
        @extend %animation-ease-in-out-3s;
        content: '';
        @extend .d-block;
        @extend .position-absolute;
        @extend .position-left;
        @extend .position-top;
        @extend .w-100;
        @extend .h-100;
        z-index: 1
    }
}


// media layers
.img-layer-light {
    &:before {
        @extend %animation-ease-in-out-3s;
        background: $black;
        @include opacity(0.18)
    }
}

.img-layer-dark {
    &:before {
        @extend %animation-ease-in-out-3s;
        background: $layer-dark;
        @include opacity(0.38)
    }
}

.layer-gradient,
.layer-gradient-v2,
.layer-gradient-v3 {
    &:before {
        content: '';
        @extend .d-block;
        @extend .position-absolute;
        @extend .position-left;
        @extend .position-top;
        @extend .w-100;
        @extend .h-100;
        @extend %animation-ease-in-out-3s;
        background-color: transparent
    }
}

.layer-gradient {
    &:before {
        background: linear-gradient(to bottom, rgba($white, 0) 0%, rgba($white, 0) 25%, rgba($layer-dark, .6) 60%, rgba($layer-dark, .8) 100%)
    }
}

.layer-gradient-v2 {
    &:before {
        background: linear-gradient(to bottom, rgba($white, 0) 55%, rgba($layer-dark, .8))
    }
}

.layer-gradient-v3 {
    &:before {
        background: linear-gradient(to bottom, rgba($white, 0) 50%, rgba($white, 0) 55%, rgba($layer-dark, 1) 100%)
    }
}

.layer-gradient-v4 {
    &:before {
        background: linear-gradient(to bottom, rgba($white, 0) 55%, rgba($layer-dark, 0.52) 70%, rgba($layer-dark, 0.85) 100%)
    }
}

.animated {
    &:hover {
        .layer-gradient {
            &:before {
                top: 28%
            }
        }

        .layer-gradient-v2,
        .layer-gradient-v3 {
            &:before {
                top: 20%
            }
        }

        .layer-gradient-v4 {
            opacity: .8
        }
    }
}

.zoom-effect {
    > img {
        @extend %animation-3s
    }

    &:hover {
        > img {
            @include scale(1.1)
        }
    }
}

.layer-link {
    &:before,
    &:after {
        @extend .position-absolute;
        @extend %animation-ease-out-4s;
        opacity: 0
    }

    &:before {
        @extend .position-top;
        @extend .position-left;
        @extend .w-100;
        @extend .h-100;
        background-color: $layer-dark
    }

    &:after {
        top: 50%;
        left: 50%;
        right: 0;
        transform: translate(-85%, -50%);
        width: 38px;
        height: 38px;
        line-height: 35px;
        @extend .text-white;
        @extend .text-center;
        font-size: 1.375rem;
        @extend .bg-primary !optional;
        font-family: $font-themify;
        content: "\e649";
        @include border-radius($border-radius-xs);
        z-index: 1
    }

    &:hover {
        &:before {
            opacity: .4
        }

        &:after {
            @include translate(-50%, -50%);
            opacity: 1
        }
    }
}


.bg-fixed {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($layer-dark, 0.9)
    }

    //.module-head .module-title,
    //.module-head .module-sub-title,
    //.module-head .module-description {
    //    @extend .text-white;
    //}
    //
    //.testi-content-block {
    //    .title,
    //    .designation {
    //        @extend .text-white;
    //
    //    }
    //
    //    .testi-content {
    //        color: #ccc;
    //    }
    //}

    .owl-dot span {
        @extend .bg-white;
        opacity: 0.2
    }
}
