#dashboard-body-area {
}

// dashboard sidebar
// ------------------------------------------------------------------------ //
.dashboard-panel {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    // @include media-breakpoint-between(md, lg) {
    //   display: block;
    //   position: relative;
    //   margin: 0 30px;
    //   width: auto;
    //   right: auto;
    // }
}

.dashboard-right {
    width: 100%;
    padding-left: 250px
}

@include respond-to(1199) {
    .dashboard-panel {
        width: 205px
    }
    .dashboard-right {
        padding-left: 205px
    }
}

@include media-breakpoint-down(lg) {
    .dashboard-panel {
        display: none
    }
    .dashboard-right {
        padding: 0
    }
}

// habro content and sidebar area layout
//.aq-content-area{
//  @include respond-to(large-desktop){
//    width: 70%;
//  }
//  @include respond-to(medium-desktop){
//    width: 68%;
//  }
//  @include media-breakpoint-down(lg){
//    margin-bottom: 50px;
//  }
//}
//.aq-sidebar-area{
//  @include respond-to(large-desktop){
//    width: 30%;
//  }
//  @include respond-to(medium-desktop){
//    width: 32%;
//  }
//}
