.aside-widget {
    padding: 24px;
    margin-top: 30px;
    @extend .bg-white;
    @extend .shadow-5x;
    @extend .br-4;
    border: 1px solid transparent;

    &:first-child {
        margin: 0
    }

    .media {
        margin-top: 30px;

        &:first-child {
            margin: 0
        }

        .media-object {
            display: block;
            width: 108px
        }
    }

    .media-left {
        padding-right: 18px
    }

    .media-right {
        padding-left: 18px
    }

}

.widget-top {
    margin: 0 0 30px;
    @extend .d-flex;

    & > * {
        @extend .align-self-center;
        @extend .m-0
    }
}

.widget-title {
    @extend .flex-grow-1;
    font-size: 1rem;
    @extend .m-0;

    * {
        @extend .align-self-center
    }
}

// Widget Booking
.widget-booking {

}

.booking-summary {
    @extend .morg-summary;

    .show-summary {
        &:before {
            content: attr(data-more-title)
        }
    }

    &.active {
        .show-summary {
            &:before {
                content: attr(data-less-title)
            }
        }
    }
}

// Booking Widget
.booking-extras {
    margin-bottom: 20px;

    .form-group {
        @extend .position-relative;
        //@extend .margin-0;
        & + .form-group {
            //border-top: 1px solid $border-color-gray-600;
            //padding-top: 20px
        }

        /*&:first-child {
          .dropdown-head {
            border-radius: 5px 5px 0 0;
          }
        }*/
    }

    .dropdown-head {
        //@extend .cursor-pointer;
        @extend %animation-3s;
        @extend .form-control;
        @extend .position-relative;
        @extend .d-flex;
        @extend .cursor-pointer;
        border: 1px solid $border-color;
        line-height: 2.4;
        @extend .bg-white;

        &:not(.collapsed) {
            @extend .border-primary
        }

        .badge {
            @extend .position-absolute;
            right: 2.8rem;
            top: calc(50% - 0.6rem)
        }

        &.active,
        &:hover {
            //@extend .bg-white
        }

        //&.active {
        //    @extend .border-primary;
        //    //border-radius: 5px 5px 0 0;
        //}

        &:after {
            //content: '\f107';
            //font-family: $font-awesome-4;
            //@extend .position-absolute;
            //right: 18px;
            width: 0.75rem;
            height: 0.75rem;
            background-size: 0.75rem
        }
    }

    .control {
        @extend .m-0
    }
}

.booking-dropdown {
    @extend %animation-3s;
    @extend .position-absolute;
    @extend .w-100;
    @extend .shadow-element;
    z-index: 2;
    margin-top: 0;
    padding: 0.6rem 1.3rem;
    //@extend .bg-gray-100;
    @extend .bg-white;
    border: 1px solid $border-color;
    //border-radius: 0 0 5px 5px;
    //@extend .fw-200;
    @include border-radius($border-radius);
    //@extend .bg-white;

    &.show {
        margin-top: 10px
    }

    .dropdown-list {
        padding: 0.7rem 0;
        //border-bottom: 1px dotted $border-color;
        &.qty-counter {
            @extend %animation-4s
        }

        & > * {
            align-self: center
        }

        .dropdown-list {
            padding-bottom: 0
        }

        & + .dropdown-list {
            border-top: 1px solid lighten($input-border-color, 8%)
        }
    }
}

#servicesArea {
    .dropdown-list {
        &.qty-counter {
            &:not(.active) {
                @include opacity(0.5);
                pointer-events: none
            }
        }
    }
}

.qty-counter {
    @extend .d-flex;

    > label {
        @extend .m-0
    }

    .qty {
        //@extend .fw-400
    }

    .btn-group {
        //@extend .pull-right
    }

    .qty-btn {
        //@extend .p-0;
        font-size: 1.4rem;
        line-height: 0;
        @extend .p-0;

        & + .qty-btn {
            margin-left: .5rem
        }

        &:hover {
            @extend .text-primary
        }
    }
}

.widget-advanced_search {
    .range-slider-wrap {
        label {
            margin-bottom: 15px
        }

        .range-text {
            margin: 10px 0 0
        }
    }

    .range-first {
        .range-slider-wrap {
            padding-bottom: 20px;
            border-bottom: 1px solid $border-color
        }
    }

    .check-list .checkbox-inline {
        //margin: 0 !important;
        //min-width: 48%
    }
}

.widget-slider {
    .owl-nav div[class*="owl-"] {
        top: 42%
    }

    .owl-dots {
        @extend .justify-content-end;
        padding-top: 20px
    }
}

.widget-featured_posts {
    .card-layer {
        margin-bottom: 20px;

        &:last-child {
            margin: 0
        }
    }
}

.widget-calculate {
    form {

    }

    .form-group {
        position: relative
    }

}

.morg-summary {
    margin-top: 25px;

    .summary-head {
        @extend .align-items-center
    }

    .head-title {
        font-size: .938rem;;
        font-weight: 500;
        @extend .m-0
    }

    .show-summary {
        cursor: pointer;
        //font-size: 1.125rem;
        //line-height: 20px;
        //font-size: 1.125rem;
        //line-height: 20px;
        @extend .text-subtext
    }

    .summary-body {
        //@extend .overflow-hidden;
        //@include opacity(0);
        transition: all .3s ease-in-out;
        //transition: all 0.5s cubic-bezier(.19,.56,.86,.63);
        //transition-property: max-height, opacity;
        ///visibility: hidden;
        //max-height: 0;
        border-top: 1px solid $input-border-color;
        &.show {
            margin-top: 15px;
            padding-top: 15px
        }
        .list-item {
            @extend .d-flex;
            & + .list-item {
                padding-top: .8rem
            }
        }
    }

    //&.active {
    //    .summary-body {
    //        //@include opacity(1);
    //        //visibility: visible;
    //        max-height: 1000px;
    //        //transition: all .4s ease-in-out;
    //    }
    //}

    .title {
        //font-weight: 500;
        //font-size: .75rem;
        @extend .text-heading;
        @extend .flex-grow-1
    }

    .value {
        font-weight: 400;
        //font-size: .75rem;
        //@extend .text-default;
        //&:last-child {
        //    margin: 0;
        //}
    }
}

.widget-search {
    form {
        div {
            position: relative
        }
    }

    input[type="text"] {
        @extend %animation-3s;
        height: 42px;
        @extend .w-100;
        border: 1px solid $input-border-color;
        font-size: .75rem;
        font-weight: 400;
        padding: 6px 20px;
        border-radius: 4px
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        height: 42px;
        width: 42px;
        background: none;
        border: none;

        &:before {
            content: '\f002';
            font-family: $font-awesome;
            display: block;
            color: $black
        }
    }
}

.widget-tags {
    .tagcloud {
        font-size: 0;

        a {
            display: inline-block;
            padding: 2px 10px 4px 10px;
            @extend .text-white;
            @extend .bg-primary !optional;
            border-radius: 3px;
            opacity: 0.7;

            &:hover {
                opacity: 1
            }
        }
    }
}

.widget-categories,
.widget-pages,
.widget-archive,
.widget-meta,
.widget-recent_posts {
    ul {

        @extend .p-0;
        list-style: none;
        margin: 0;
        //overflow: hidden;

        ul {
            padding: 10px 0 0 15px !important;
            @extend .w-100
        }
    }

    li {
        @extend .position-relative;
        color: $gray-light;
        display: block;
        width: 100%;
        margin-bottom: 12px;
        //padding-bottom: 6px;
        //padding-left: 10px;
        &:last-child {
            margin: 0
        }

        li {
            //font-weight: 400;
            //margin-bottom: 8px
        }

        //&:after {
        //    @extend %animation-ease-in-out-3s;
        //    content: "";
        //    @extend .position-absolute;
        //    bottom: 0;
        //    left: 0;
        //    height: 1px;
        //    width: 20px;
        //    background-color: rgba($gray-900, .5);
        //}
        //&:hover {
        //    &:after {
        //        width: 80px;
        //    }
        //}
    }

    a {
        @extend .position-relative;
        @extend .text-default;
        padding-left: 1rem;
        //margin-left: -10px;
        &:hover {
            //padding-left: 20px
        }

        &:before {
            content: "\e606";
            font-family: $simple-line-font-family;
            //margin-right: 10px;
            //font-size: .75rem;
            //line-height: 14px;
            @extend .position-absolute;
            left: 0;
            top: 2px;
            font-size: 0.6rem
        }
    }
}

.widget-categories,
.widget-archive {
    .cat-count {
        float: right
    }
}

.widget-recent_posts {
    li {
        //margin-bottom: 5px
    }

    a {
        display: inline-block;
        margin-bottom: 3px;
        //line-height: 18px
    }

    .post-date {
        padding: 0 0 0 15px;
        //font-weight: 400
    }
}

.widget-categories {

}

.widget-pages {

}

.widget-archive {

}

.widget-meta {

}

.widget-media_list {
    .price {
        display: block
    }

    address {
        @extend .text-heading
    }

    .amenities p {
        @extend .text-subtext
    }
}


.widget-calendar {
    caption {
        @extend .text-default;
        padding: 0 0 10px 0;
        //border-bottom: 1px solid $gray-dd
    }

    tbody {
        td {
            background-color: rgba($black, .026);

            &:hover {
                @extend .bg-primary !optional;
                @extend .text-white
            }
        }
    }

    table {
        @extend .w-100;
        border-spacing: 1px;
        border-collapse: separate;

        td {
            padding: 8px;
            text-align: center;
            font-size: .75rem;
            //border-bottom: 1px solid $gray-dd
        }

        #prev {
            color: rgba($text, .5);
            text-align: left;

            i {
                margin-right: 8px
            }

            a {
                color: rgba($text, .5);

                &:hover {
                    @extend .text-default;
                }
            }
        }

        #next {
            color: rgba($text, .5);
            text-align: right;

            i {
                margin-left: 8px
            }

            a {
                color: rgba($text, .5);

                &:hover {
                    @extend .text-default;
                }
            }
        }

        th {
            @extend td
        }
    }
}

.widget-agent_contact {
    //.agent-media {
    //    margin-bottom: 30px !important;
    //}
    //
    //.media-object {
    //    width: 74px !important;
    //}
    //
    //.media-body {
    //    position: relative;
    //}

    .agent-info ul {
        //list-style: none;
        //margin: 0;
        //padding: 0;

    }

    .agent-info {
        li {
            //position: relative;
            margin-bottom: 4px
        }
    }

    .position {
        @extend .fs-xs;
        line-height: .813rem
    }

    .name {
        font-size: .938rem;;

        a {
            @extend .text-heading
        }
    }

    .view {
        //font-size: .75rem;
        //color: $gray-lighter;
        //&:hover {
        //  @extend .text-white;
        //}
        //position: absolute;
        //right: 0;
        //top: -46px
    }

    .phone {
        //@extend .text-subtext
    }

}

.widget-newsletter {
    .form-control {
        //background-color: rgba($white, .3);
        font-size: .938rem;
    }

    .form-control {
        border-color: $white;

        &:focus {
            border-color: $primary
        }
    }

    .form-control,
    .bootstrap-select .btn,
    .btn {
        height: 50px
    }

    .icon-holder .field-icon {
        height: 50px;
        line-height: 50px;
        font-size: 1rem;
        z-index: 3
    }

    //p {
    //    margin: 15px 0 4px !important;
    //}

    .aq-social-icons li {
        font-size: .75rem;
        @extend .text-white;

        a {
            @extend .text-white
        }
    }
}

//START FOOTER WIDGETS STYLE*/
.footer-widget {
    //margin-bottom: 30px;
    .widget-top {
        margin: 0 0 30px
    }

    .widget-body {
        background-color: transparent;
        padding: 0
    }

    .widget-title,
    p,
    ul li,
    ul li a {
        @extend .text-white
    }

    ul li a {
        &:hover {
            @extend .text-primary
        }
    }

    &.widget-contact {
        ul.contact-list {
            margin: 0;

            li {
                list-style: none;
                padding-left: 20px;
                margin-bottom: 10px
            }

            i, .fa {
                margin-left: -20px;
                margin-right: 8px;
                font-size: 1rem;
                top: 1px;
                position: relative
            }
        }
    }
}
